{% extends 'base.html' %}

{% block content %}
<style>
    #file-list {
        max-height: 100vh;
        overflow-y: auto;
    }
</style>
<div class="container">
    <div class="row">
        <h1 class="text-center">FILE SERVER</h1>
        
        <div id="file-list" class="mx-auto col-lg-9 shadow-sm vh-100 p-5">
            {% for document in documents %}
            <div class="my-4 border p-2">
                <p class="">{{document.title}} <span class="float-end text-muted"><small>{{document.upload_date | timesince}} ago</small></span> </p>
                <!-- <p class="">{{document.file.url}}</p> -->
                <p class="text-start"><a href="{{ document.file.url }}">{{ document.file.url}} <i class="fa fa-download"></i></a></p>

                <p class="">{{document.description}}</p>
                    
            </div>
            {% endfor %}
        </div>
        

    </div>
</div>
{% endblock content %}
    