{% extends 'base.html' %}

{% block content %}
<style>
    #file-list {
        max-height: 100vh;
        overflow-y: auto;
        scroll-behavior: smooth;
    }
    #file-list::-webkit-scrollbar {
    width: 6px;
   
    }
    #file-list::-webkit-scrollbar-track {
    background: #c9c9c9;
    border-radius: 6px;  
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-9 mx-auto">
            <h1 class="text-center display-inline">
                FILE SERVER
                
                {% if user.is_superuser %}
                <span class="float-end"><a href="{% url 'upload' %}"><button class="btn btn-outline-secondary">New Document</button></a></span>
                    
                {% endif %}
                    
            </h1>
        </div>
        
        <div id="file-list" class="mx-auto col-lg-9 vh-100 shadow p-5">
            {% for document in documents %}
            {% load custom_filters %}
            <div class="my-4 border p-2">
                <p class="fw-bold">{{document.title | title}} - {{document.file.name | basename}} <span class="float-end text-muted fw-light"><small>{{document.upload_date | timesince}} ago</small></span> </p>
                <hr>
                <p class="">{{document.description}}
                </p>
                
                <p>
                    <a href="{% url 'download' document.id %}">Download</a>
                    <a href="{% url 'send-file' document.id %}" class="mx-3">Share via email</a>
                    
                    {% if user.is_superuser %}
                    <span class="float-end mt-2 border p-1">
                        <small class="fw-bold">{{document.downloads}} Downloads, {{document.emails_sent}} Shares </small>
                    </span>
                        
                    {% endif %}
                </p>
                    
                        
            </div>
            {% endfor %}
        </div>
        

    </div>
</div>
{% endblock content %}
    