{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="main-container col-lg-10 mx-auto">
        <div class="document-list">
            <div class="row w-100">
                <div class="col-lg-10 mx-auto">
                    <h2 class="theme-text text-center fw-bold">DOCUMENTS</h2>

                </div>
                {% if user.is_superuser %}
                <div class="col-lg-2">
                    <a href="{% url 'upload' %}" class="float-end"><img src="{% static 'server/icons/add-icon.png' %}" alt="" width="35px" height="35px"></a>
                        
                    
                </div>
                {% endif %}

            </div>
            
                
            
            {% for document in documents %}
                {% load custom_filters %}

                <div class="row document-item mb-3 border p-3 shadow-sm">
                    <div class="col-lg-9">
                        <h3 class="fw-bold">{{document.title | title}} <!-- {{document.file.name | basename}}-->
                        </h3>
                        <p>{{document.description}}</p>
                        <div class="document-actions">
                        </div>
                        
                    </div>
                    <div class="col-lg-3">
                        <div class="document-icons">
                            <div>
                                <a href="{% url 'download' document.id %}" class="" title="download">
                                    <img src="{% static 'server/icons/download-icon.png' %}" alt="" width="40px" height="40px">
                                </a><br>
                                <span><small><small class="icon-text text-muted text-decoration-none">Download</small></small></span>
                                <br>
                                {% if user.is_superuser %}
                                <small class="stats mt-2">{{document.downloads}} Downloads</small>
                                    
                                {% endif %}
                            </div>
                            
                            <div>
                                <a href="{% url 'send-file' document.id %}" class="share" title="share">
                                    <img src="{% static 'server/icons/email-icon.png' %}" alt="" width="35px" height="35px">
                                </a><br>
                                <span><small><small class="icon-text text-muted text-decoration-none ">Share</small></small></span>
                                <br>
                                {% if user.is_superuser %}
                                <small class="stats mt-2">{{document.emails_sent}} Shares</small>
                                    
                                {% endif %}
                            </div>

                        </div>
                        

                    </div>
                        
                            
                </div>


            {% endfor %}
                
            
        </div>
    </div>
{% endblock content %}
