{% extends 'base.html' %}



{% block content %}
    
        <div class="container">
            <div class="row">
                
               
                <div class="main-container col-lg-8 mx-auto p-4">
                    <h3 class="text-center mb-4">Share '{{document.title | title}}' via email</h3>
    
                    <form action="{% url 'send-file' document.id %}" class="form" method="post">
                        {% csrf_token %}
                        {{form}}
                        <div class="row w-100 mt-5">
                            <input type="submit" class="btn main-button w-50 mx-auto" value="Send">

                        </div>
                    </form>
                </div>
            </div>
        </div>

    
{% endblock content %}
    