{% extends 'base.html' %}


{% block content %}
    <div class="row">
        <h1 class="display-6 text-center mt-3">REGISTER</h1>
        <div class="col-lg-6 mx-auto mt-3 border p-4">

            <form action="" class="form" method="post">
                {% csrf_token %}
                
                
                
                    
                {% for field in form %}
                    <div class="m-3">
                        <table class="table">
                            <tr>
                                <td>{{field.label}}</td>
                                <td>{{field}}</td>
                            </tr>
                        </table>

                        <small class="text-muted"><small>{{field.help_text | safe}}</small></small>
                    </div>
                {% endfor %}
                {{form.errors}}

                <input type="submit" class="btn btn-secondary w-100" value="Sign in">
                
                    
                <small>Already have an account? <a href="{% url 'login' %}">Log in</a></small>
                
                    
            </form>
        </div>
    </div>
{% endblock content %}
    