{% extends 'base.html' %}


{% block content %}
    
        <div class="container">
            <div class="row">
                <div class="main-container col-lg-8  mx-auto">
                    <h2 class="theme-text text-center fw-bolder mt-3">Upload Document</h2>
                    <form action="{% url 'upload' %}" method="post" class="form w-100 py-3" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form}}
                        <div class="row w-100">
                            <input type="submit" class="btn main-button w-50 mx-auto" value="Upload">
    
                        </div>
                    </form>
                </div>
            </div>
        </div>

    
{% endblock content %}
    