{% extends 'base.html' %}
{% load i18n %}
{% load allauth %}

{% block content %}
   
        <div class="row">
            <div class="main-container col-lg-6 col-md-9 col-10 mx-auto mt-3 border p-4">
                <h2 class="theme-text text-center mt-3 fw-bold">LOG IN</h2>
    
                <form action="{% url 'account_login' %}" class="form" method="post">
                    {% csrf_token %}
                    <span class="text-danger">{{form.non_field_errors}}</span>
                    <div class="form-group my-3">
                        {{ form.login.label_tag }}
                        <input type="email" class="form-control" name="{{form.login.name}}">
                        <span class="text-danger">{{form.login.errors}}</span>
                    </div>
                    <div class="form-group my-3">
                        {{ form.password.label_tag }}
                        {{ form.password }}
                        <span class="text-danger">{{form.password.errors}}</span>
                    </div>
                    <div class="form-group form-check">
                        {{ form.remember }}
                        {{ form.remember.label_tag }}
                    </div>
                    <input type="submit" class="btn main-button mt-3 w-100" value="Log in">
                </form>
                <small>No account? <a href="{% url 'account_signup' %}"><small>Register here</small></a></small><br>
                <small class="float-end"><a href="{% url 'account_reset_password' %}">Forgot password?</a></small>
            </div>
        </div>

    
{% endblock content %}
    