{% extends 'base.html' %}
{% load i18n allauth account %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto mt-4">
                <h1 class="display-6 mb-4">RESET PASSWORD</h1>
                
                {% if user.is_authenticated %}
                <p class="">
                    Note: You are logged in as {{user}}
                </p>
                    
                {% endif %}
                <p class="">Enter your registered email address below and we'll
                    send you instructions on how to reset your password
                </p>
                    
                {% url 'account_reset_password' as reset_url %}
                {% element form form=form method="post" action=reset_url %}
                {% slot body %}
                {% csrf_token %}
                {% element fields form=form %}
                {% endelement %}
                {% endslot %}
                {% slot actions %}
                {% element button type="submit" %}
                {% trans 'Reset My Password' %}
                  {% endelement %}
                {% endslot %}
                 {% endelement %}
            </div>
        </div>
    </div>
{% endblock content %}
    