{% extends 'base.html' %}
{% load i18n allauth account %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="main-container col-lg-6 mx-auto mt-4 p-4">
                <h3 class="mb-4 theme-text">RESET PASSWORD</h3>
                
                {% if user.is_authenticated %}
                <p class="">
                    Note: You are logged in as {{user}}
                </p>
                    
                {% endif %}
                <p class="mb-4">Forgotten your password?
                     Enter your registered email address below, and we'll send you an email allowing you to reset it.
                </p>
                    
                {% url 'account_reset_password' as reset_url %}
                {% element form form=form method="post" action=reset_url %}
                {% slot body %}
                {% csrf_token %}
                {{form.email.label_tag}}
                <input type="email" name="email" required class="form-control mb-4" placeholder="registeredemail@gmail.com">
                {% endslot %}
                {% slot actions %}
                <input type="submit" class="main-button btn" value="Reset My Password">
                  
                {% endslot %}
                 {% endelement %}
            </div>
        </div>
    </div>
{% endblock content %}
    