{% extends 'base.html' %}
{% load allauth i18n %}


{% block content %}
<div class="main-container col-lg-7 mx-auto p-4">
    
        
        {% if token_fail %}
        <h3 class="theme-text mb-5">Oops...Bad Token"</h3>
            {% url 'account_reset_password' as passwd_reset_url %}
            {% element p %}
                {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
            {% endelement %}
            
        {% else %}
            <h3 class="theme-text mb-5">Change Password</h3>
    
        {% element form method="post" action=action_url %}
            {% slot body %}
                {% csrf_token %}
                {{ redirect_field }}
                {{form.password1.label_tag}}
                <input type="password" name="{{form.password1.name}}" class="form-control mb-4" required>
                <small class="">{{form.password1.help_text | safe}}</small>

                {{form.password2.label_tag}}
                <input type="password" name="{{form.password2.name}}" class="form-control mb-4" required>

            {% endslot %}
            {% slot actions %}
                {% element button type="submit" name="action" %}
                    <button class="main-button btn">Reset Password</button>
                {% endelement %}
            {% endslot %}
        {% endelement %}
    {% endif %}

</div>
{% endblock content %}