{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="main-container col-10 col-lg-6 mx-auto mt-3 border p-4">
            <h3 class="theme-text text-center mt-3">REGISTER</h3>

            <form action="{% url 'account_signup' %}" class="form" method="post">
                {% csrf_token %}
                
                <p class="">
                    {{form.email.label_tag}} {{form.email}}
                </p>
                <p class="">
                    {{form.password1.label_tag}}
                    <input type="password" name="{{form.password1.name}}" class="form-control">
                    <small class="text-muted"><small>{{form.password1.help_text | safe}}</small></small>
                </p>
                <p class="">
                    {{form.password2.label_tag}}
                    <input type="password" name="{{form.password2.name}}" class="form-control">
                </p>
            
                    
                
                
                <small class="text-danger fw-light">{{form.errors}}</small>

                
                <button type="submit" class="main-button  btn btn-secondary w-100">REGISTER</button>
                
                    
                <small>Already have an account? <a href="{% url 'account_login' %}">Log in</a></small>
                
                    
            </form>
        </div>
    </div>
{% endblock content %}
    