{% load static %}
<div class="header-container">

    <h3 id="name">
        <a href="{% url 'index' %}" class="text-decoration-none text-white fw-bolder">
            <img src="{% static 'server/icons/documents-icon.png' %}" alt="logo" class="img" height="50" width="50">
            File Server
        </a>
    </h3>
    
    <div class="search-bar">
        {% if user.is_authenticated %}
        <form action="" method="get">
            <input type="text" name="q" placeholder="Search for a file...">
            
        </form>
        {% endif %}
    </div>

    <div class="user-info">
        
        {% if user.is_authenticated %}
        <span>{{username}} </span> | <a href="{% url 'account_logout' %}">Log out</a>
        {% else %}

        <a href="{% url 'account_login' %}" class="text-dark"><button class="btn btn-sm btn-light">LOGIN</button></a> 
        <a href="{% url 'account_signup' %}" class="text-dark"><button class="btn btn-sm border-dark">REGISTER</button></a>
        {% endif %}
            
    </div>

</div>

