<div class="row pt-4 pl-3">
    <div class="col-lg-3">
        <a href="{% url 'index' %}" style="text-decoration: none; color: black;">
            
            LOGO - FILE SERVER
        </a>
    </div>
    <div class="col-lg-7">
        <div class="row w-50">
            <form action="" class="form" method="get">
                <input type="text" name="q" class="form-control" placeholder="Search for a file...">
            </form>

        </div>
    </div>
    <div class="col-lg-2">
        
        {% if user.is_authenticated %}
        User details <a href="{% url 'logout' %}" class="text-dark">Log out</a>
        {% else %}
        <div class="align-items-end justify-content-end">
            <a href="{% url 'login' %}" class="text-dark"><button class="btn btn-secondary">LOGIN</button></a> 
            <a href="{% url 'signup' %}" class="text-dark"><button class="btn border-dark">REGISTER</button></a>

        </div>

        {% endif %}
        
    </div>
</div>
<hr>